<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Student Portal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/user/">SESC 2023</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/user/graduation">Graduation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/profile">Profile</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Course
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/courses/enrol">Enrol</a></li>
                        <li><a class="dropdown-item" href="/courses/userCourses">Registered Courses</a></li>
                        <li><a class="dropdown-item" href="/courses/list">View Course</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <button class="btn btn-outline-danger" type="submit"><a href="/logout">Logout [[${user.firstname}]]</a></button>
            </form>
        </div>
    </div>
</nav>
<h1 class="h3 mb-2 text-gray-800">View Course</h1>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List of enrolled courses</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>

                    <th>
                        Id
                    </th>
                    <th>
                        Course Title
                    </th>
                    <th>
                        Course Description
                    </th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="course: ${userCourses}">

                    <td th:text="${course.id}">

                    </td>
                    <td th:text="${course.title}">

                    </td>
                    <td th:text="${course.description}">

                    </td>
                    <td>
                        <a href="#"
                           class="btn btn-info  btn-sm">
                            <i class="fas fa-eye"> </i> View
                        </a>
                        <a href="#"  class="btn btn-primary  btn-sm">
                            <i class="fas fa-pen"> </i> Edit
                        </a>

                        <a href ="#"  class="btn btn-danger  btn-sm">
                            <i class="fas fa-trash"> </i> Delete
                        </a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>